<div class="body-wrapper">
  <%#= render "welcome/notify" %>

  <main role="main" id="content">
    <div class="intro-wrapper">
      <div class="container-px-25 container container--intro">
        <h1 class="utilities-font-80_42 utilities-mb-60_30 utilities-mb-20">Náboženská obec <abbr title="Církev československá husitská">CČSH</abbr><br>Praha-Spořilov</h1>
        <header>
          <p class="utilities-font-20_16 intro-info intro-opacity"> Založena v roce <span class="utilities-color-red utilities-fweight-700">1938</span>. Nejbližší bohoslužba na Spořilově <span class="utilities-color-red utilities-fweight-700">25. října</span> od <span class="utilities-color-red utilities-fweight-700">9:30</span>.</p>
          <br>
          <p class="utilities-font-20_16">Bohoslužba v <span class="utilities-color-red utilities-fweight-700"> Domově pro seniory Zahradní Město</span> od <span class="utilities-color-red utilities-fweight-700">14:00</span>. 
          </p>
          <br>
          <p class="utilities-font-20_16">Domov pro seniory Chodov, biblické hodiny <span class="utilities-color-red utilities-fweight-700"> vždy první a třetí pondělí v měsíci</span> od <span class="utilities-color-red utilities-fweight-700"> 15:00</span>.
          </p>
        </header>
      </div>
      <div class="image--overflow_hidden intro-image">
        <div class="image__container image__filter image__loaded" style="width: 90%;">
          <%= image_tag 'sporilov.png', class: 'image__img image__loaded', alt: 'Úvodní ilustrace. Dominatu tvoří samotná budova obce. Kolem stromy a lidé.' %>
        </div>
      </div>
    </div>
    <section id="bohosluzby" class="box block-difino-course article-list with-hover-and-active course">
      <div class="container-px-25 container separator utilities-mb-15 utilities-mb-25" >
        <h2 class="utilities-font-24_20 ">Nadcházející bohoslužby a události</h2>
      </div>
      <div class="body container-px-25 container">
        <div class="layout layout__spacing-20-leftoff article-list">
          <div class="layout__item layout-onethird col-same-height">      
            
            <h3>Spořilov</h3>

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">25</div>
                <div class="month">říjen</div>
                <div class="action">Bohoslužba</div>
              </div>
            </article>

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">1</div>
                <div class="month">listopad</div>
                <div class="action">Památka zesnulých</div>
              </div>
            </article>

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">8</div>
                <div class="month">listopad</div>
                <div class="action">Bohoslužba</div>
              </div>
            </article>  

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">22</div>
                <div class="month">listopad</div>
                <div class="action">Bohoslužba</div>
              </div>
            </article> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">29</div>
                <div class="month">listopad</div>
                <div class="action">První adventní</div>
              </div>
            </article> 
          </div> 

          <div class="layout__item layout-onethird col-same-height"> 
            <h3>Zahradní město</h3> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">25</div>
                <div class="month">říjen</div>
                <div class="action">Bohoslužba</div>
              </div>
            </article>

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">8</div>
                <div class="month">listopad</div>
                <div class="action">Bohoslužba</div>
              </div>
            </article>

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">22</div>
                <div class="month">listopad</div>
                <div class="action">Bohoslužba</div>
              </div>
            </article>  

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">22</div>
                <div class="month">listopad</div>
                <div class="action">Bohoslužba</div>
              </div>
            </article> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">6</div>
                <div class="month">prosinec</div>
                <div class="action">Druhá adventní</div>
              </div>
            </article> 
          </div>

          <div class="layout__item layout-onethird col-same-height"> 
            <h3>Chodov</h3> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">19</div>
                <div class="month">říjen</div>
                <div class="action">Setkání nad Písmem</div>
              </div>
            </article> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">2</div>
                <div class="month">listopad</div>
                <div class="action">Bohoslužba za zesnulé</div>
              </div>
            </article> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">16</div>
                <div class="month">listopad</div>
                <div class="action">Setkání nad Písmem</div>
              </div>
            </article> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">30</div>
                <div class="month">listopad</div>
                <div class="action">Setkání nad Písmem</div>
              </div>
            </article> 

            <article class="container two-col contextual-links-region">
              <div class="group-left">
                <div class="day">30</div>
                <div class="month">listopad</div>
                <div class="action">Setkání nad Písmem</div>
              </div>
            </article> 
          </div> 
                                  
        </div>
      </div>          
    </section>
    <div class="divider">
      <%= image_tag 'sprite.svg#divider-usage', class: 'divider__image', alt: 'Oddělovač bloků' %>
      <%= image_tag 'ccsh-logo.svg', class: 'divider__image', alt: 'Oddělovač bloků' %>
      <%= image_tag 'sprite.svg#divider-usage', class: 'divider__image', alt: 'Oddělovač bloků' %>
    </div>

    <section  id="farnost">
      <div class="container-px-25 container">
        <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Farnost a její služby</h2>
      </div>
      <section class="articlelist">
        <div class="container-px-25 container--large articlelist__container">
          <a href="/historie-sporilova">
              <div class="articlecard articlecard--large utilities-mb-10 utilities-mb-50">
                  <div>
                    <div class="image--overflow_hidden image__cropped image__bgcolor articlecard__image">
                      <div class="image__container image__opacity image__loaded">
                        <%= image_tag 'historie-sporilova--blurred.png', class: 'image__img image__loaded', alt: 'Vyčpělá fotografie Spořilova' %>
                      </div>
                    </div>
                  </div>
                  <div class="container-px-25 container articlecard__container">
                    <div class="articlecard__content">
                      <div class="articlecard__content__inner">
                        <h3 class="articlecard__title">Historie Spořilova</h3>
                        <p class="articlecard__desc">Přečtěte se více o historii této pražské části a o samotné náboženské obci</p>
                      </div>
                    </div>
                  </div>
              </div>
          </a>
        </div>
        <div class="container-px-25 container articlelist__container">
          <div class="layout layout__spacing-20-leftoff article-list">
            <div class="layout__item layout-halfsize articlelist__item">
              <a href="/pastoracni-pece">
                <div class="articlecard articlecard__card--medium articlelist__article">
                  <div>
                    <div class="image--overflow_hidden image__cropped image__bgcolor articlecard__image">
                      <div class="image__container image__opacity image__loaded">
                        <%= image_tag 'pastoracni-pece--blurred.png', class: 'image__img image__loaded', alt: 'Ruka s křížkem v ruce.' %></div>
                    </div>
                  </div>
                  <div class="articlecard__container">
                    <div class="articlecard__content">
                      <div class="articlecard__content__inner">
                        <h3 class="articlecard__title">Služby pastorační péče</h3>
                        <p class="articlecard__desc">Křest, manželství, osobní zpověd a další</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="layout__item  layout__item layout-halfsize articlelist__item">
              <a href="/domov-pro-seniory">
                <div class="articlecard articlecard__card--medium articlelist__article">
                  <div>
                    <div class="image--overflow_hidden image__cropped image__bgcolor articlecard__image">
                      <div class="image__container image__opacity image__loaded">
                        <%= image_tag 'retirement-compressed--blurred.png', class: 'image__img image__loaded', alt: 'Dva manželé sedící vedle sebe v domově seniorů.' %>
                          
                      </div>
                    </div>
                  </div>
                  <div class="articlecard__container">
                    <div class="articlecard__content">
                      <div class="articlecard__content__inner">
                        <h3 class="articlecard__title">Služby pro domovy pro seniory</h3>
                        <p class="articlecard__desc">Možnosti spirituální péče a duchovní služby a další</p>
                      </div>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            <div class="layout__item layout-halfsize articlelist__item order-1-desktop order-2-mobile">
              <div class="articlelist__banner">
                <div id="jednota-ot" class="articlelist__banner__motto utilities-fweight-700"></div>
                <br>
                <br>
                <div id="jednota-nt" class="articlelist__banner__motto utilities-fweight-700"></div>
              </div>
            </div>

            <div class="layout__item layout-halfsize articlelist__item order-1-mobile order-2-desktop">
              <a href="/fotogalerie">
                <div class="articlecard articlecard__card--medium articlelist__article">
                  <div>
                    <div class="image--overflow_hidden image__cropped image__bgcolor articlecard__image">
                      <%= image_tag 'foto--blurred.png', class: 'image__img image__loaded', alt: 'Starý sklopný fotoaparát.' %>
                      <!-- Zdroj od Janos Virag z Pixabay -->
                    </div>
                  </div>
                    <div class="articlecard__container">
                      <div class="articlecard__content">
                        <div class="articlecard__content__inner">
                          <h3 class="articlecard__title">Fotogalerie</h3>
                          <p class="articlecard__desc">Momenty a další</p>
                        </div>
                    </div>
                  </div>
                </div>
              </a>
          </div>
        </div>
      </section>
    </section>

    <div class="divider">
      <%= image_tag 'sprite.svg#divider-usage', class: 'divider__image', alt: 'Oddělovač bloků' %>
      <%= image_tag 'ccsh-logo.svg', class: 'divider__image', alt: 'Oddělovač bloků' %>
      <%= image_tag 'sprite.svg#divider-usage', class: 'divider__image', alt: 'Oddělovač bloků' %>
    </div>

    <section id="kontakt">
      <div class="container-px-25 container">
        <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Kontakty a úřední hodiny</h2>
      </div>
      <section class="articlelist">
        <div class="container-px-25 container articlelist__container">
          <div class="layout layout__spacing-20-leftoff article-list">
            <div class="layout__item layout-halfsize articlelist__item">
              <div>
                <div class="articlecard articlecard__card--medium articlelist__article">
                  <div>
                    <div class="image--overflow_hidden image__cropped image__bgcolor articlecard__image">
                      <div class="image__container image__opacity image__loaded">
                        <%= image_tag 'galerie-2.jpg', class: 'image__img image__loaded', alt: 'Farář Jan Hlavsa v jinošských letech.' %></div>
                    </div>
                  </div>
                  <div class="articlecard__container">
                    <div class="articlecard__content">
                      <div class="articlecard__content__inner">
                        <h3 class="articlecard__title">Farář, Jan Hlavsa</h3>
                        <p class="articlecard__desc"> Narozen v Ústí nad Labem v roce 1979. Teologické studium, obor (misijní a charitativní práce/psychosociální studia – husitská teologie), na Husitské teologické fakultě dokončil v roce 2016. V církvi působí od roku 2003 a v roce 2018 byl vysvěcen na kněze.</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="utilities-mt-70_20">
                <div class="articlelist__banner">
                  <h2 class="utilities-font-20_16 articlelist__bannertitle">Členové Rady starších</h2>

                  <div class="stack stack--align_top stack--spacing">
                    <div class="stack__item stack__fluid">
                      <div class="location-wrapper">
                        <h3 class="utilities-color-grey  location-title">Ing. Jiří Ach</h3>
                        <p class="utilities-font-15_13 location-addres">Předseda rady starších</p>
                        <a href="tel:+420272761280" class="link link--red">+420 272 76 19 61</a>
                      </div>
                    </div>
                  </div>

                  <div class="stack stack--align_top stack--spacing">
                    <div class="stack__item stack__fluid">
                      <div class="location-wrapper">
                        <h3 class="utilities-color-grey  location-title">Vladimír Šillinger</h3>
                        <p class="utilities-font-15_13 location-addres">Finanční zpravodaj</p>
                        <a href="tel:+420272761280" class="link link--red">+420 776 23 75 01</a>
                      </div>
                    </div>
                  </div>

                  <div class="stack stack--align_top stack--spacing">
                    <div class="stack__item stack__fluid">
                      <div class="location-wrapper">
                      	<h3 class="location-title">Další členové</h3>
                        <h3 class="utilities-color-grey ">Ing. Vladimír Prchlík</h3>
                        <h3 class="utilities-color-grey">Marcela Šmídová</h3>
                      </div>
                    </div>
                  </div>

                  <div class="stack stack--align_top stack--spacing utilities-mb-15">
                    <div class="stack__item stack__fluid">
                      <div class="location-wrapper">
                        <a href="\personalni-slozeni" class="link link--red">Více informací k personálnímu složení</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>


            <div class="layout__item layout-halfsize articlelist__item">
              <div class="articlelist__banner">
                <h2 class="utilities-font-20_16 articlelist__bannertitle">Základní informace</h2>
                <div class="stack stack--align_top stack--spacing">
                  <div class="stack__item stack__fluid">
                    <div class="location-wrapper">
                      <h3 class="utilities-color-grey  location-title">Kde nás najdete</h3>
                      <p class="utilities-font-15_13 location-address">Jihovýchodní VII. 945/2, 141 00 Praha 4 - Spořilov</p>
                      <div class="map location-map-wrapper">
                        <div class="location-map__container">
                        <%= image_tag 'map.PNG', class: 'image__img image__loaded', alt: 'Mapa ukazující, kde se Spořilov nachází' %>
                        </div>
                        <div class="map__button map__align-left_none"><a href="https://mapy.cz/?q=50.0410308N%2C+14.4828381E" target="_blank" rel="noopener" class="button"><span class="button__content"><span class="button__text">Otevřít na Mapy.cz</span></span></a></div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="stack stack--align_top stack--spacing">
                  <div class="stack__item stack__fluid">
                    <div class="location-wrapper">
                      <h3 class="utilities-color-grey  location-title">Úřední hodiny</h3>
                      <p class="utilities-font-15_13 location-addres">Každé úterý, od 13:00 do 16:00</p>
                    </div>
                  </div>
                </div>
                <!-- <div class="stack stack--align_top stack--spacing">
                  <div class="stack__item stack__fluid">
                    <div class="location-wrapper">
                      <h3 class="utilities-color-grey  location-title">Telefon</h3>
                      <a href="tel:+420272761280" class="link link--red">+420 272 76 12 80</a>
                    </div>
                  </div>
                </div> -->

                <div class="stack stack--align_top stack--spacing">
                  <div class="stack__item stack__fluid">
                    <div class="location-wrapper">
                      <h3 class="utilities-color-grey  location-title">E-mail na farnost a osobní kontakt na faráře</h3>
                      <p class="utilities-font-15_13 location-addres">Telefon na faráře: <a href="tel:728061364" class="link link--red">728 06 13 64</a>. Volejte kdykoliv, vždy zavolá zpět.</p>
                      <a href="mailto:ccsh.sporilov@seznam.cz" class="link link--red">ccsh.sporilov@seznam.cz</a><br>
                      <a href="mailto:jan.hlavsa@seznam.cz" class="link link--red">jan.hlavsa@seznam.cz</a> 
                    </div>
                  </div>
                </div>
                
                <div class="stack stack--align_top stack--spacing">
                  <div class="stack__item stack__fluid">
                    <div class="location-wrapper">
                      <h3 class="utilities-color-grey  location-title">Přispět na chod obce</h3>
                      <p class="utilities-font-15_13 location-addres">Bankovní účet: 68108309/0800</p>
                    </div>
                  </div>
                </div>

                <hr>
                <div class="stack stack--align_top stack--spacing">
                  <div class="stack__item stack__fluid">
                    <div class="location-wrapper">
                      <h3 class="utilities-color-grey">Aktivity obce</h3>
                      <div class="paragraph set-width" style="padding-left: 0;">
                        <ul class="list">
                          <li class="utilities-font-15_13 location-addres">pro dostávání SMS upozornění na nadcházející bohoslužby a další akce kontaktujte faráře</li>
                          <li class="utilities-font-15_13 location-addres">možnost výuky hry na kytaru, kontaktujte Miladu Karez na telefonu: <a class="link link--red" href="tel:603879564">603 87 95 64</a></li>
                          <li class="utilities-font-15_13 location-addres">obesílání věřících pastoračními dopisy na Velikonoce a Vánoce</li>
                        </ul>  
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </section>
     
  </main>
</div>    

<script>
function hideSection() {
  var x = document.getElementById("app-banner");
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
</script>

<script>
function hideSection2() {
  var xx = document.getElementById("app-banner-notify");
  if (xx.style.display === "none") {
    xx.style.display = "block";
  } else {
    xx.style.display = "none";
  }
}
</script>

<script type="text/javascript">
    var ot = document.getElementById("jednota-ot");
    var nt = document.getElementById("jednota-nt");

    ot.innerHTML = losung.ot();
    nt.innerHTML = losung.nt();
</script>