<div class="body-wrapper">
  <main role="main" id="content">
    <section class="section--colored section-pt-150_30 section-pb-90_30">
      <div class="container-px-25 container">
        <h2 class="utilities-color-grey utilites-mb-5 utilities-mb-10">Náboženská obec Praha-Spořilov</h2>
        <h1 class="utilities-font-60_32 utilities-mb-20 utilities-mb-30" style="max-width: 830px;">Fotogalerie</h1>
          <div class="stack stack--align_top stack--spacing">
            <div class="stack__item stack__fluid">
                <p class="utilities-color-grey author-date">vytvořeno 14. března 2019</p>
            </div>
          </div>
      </div>
    </section>
    
    <div class="container-px-25 container">

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">I. zahradní slavnost a položení základního kamene památníku k 90. výročí naší církve</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-1.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-1.jpg"), itemprop: 'contentUrl', :data => { :size => '500x375'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-2.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-2.jpg"), itemprop: 'contentUrl', :data => { :size => '500x667'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-3.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-3.jpg"), itemprop: 'contentUrl', :data => { :size => '500x375'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-4.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-4.jpg"), itemprop: 'contentUrl', :data => { :size => '500x375'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-5.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-5.jpg"), itemprop: 'contentUrl', :data => { :size => '500x375'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-6.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-6.jpg"), itemprop: 'contentUrl', :data => { :size => '500x375'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-7.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-7.jpg"), itemprop: 'contentUrl', :data => { :size => '500x375'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-8.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-8.jpg"), itemprop: 'contentUrl', :data => { :size => '500x375'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-9.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-9.jpg"), itemprop: 'contentUrl', :data => { :size => '500x517'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-10.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-10.jpg"), itemprop: 'contentUrl', :data => { :size => '500x335'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-11.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-11.jpg"), itemprop: 'contentUrl', :data => { :size => '500x948'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-12.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-12.jpg"), itemprop: 'contentUrl', :data => { :size => '500x209'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-13.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-13.jpg"), itemprop: 'contentUrl', :data => { :size => '500x335'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-14.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-14.jpg"), itemprop: 'contentUrl', :data => { :size => '500x419'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-15.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-15.jpg"), itemprop: 'contentUrl', :data => { :size => '500x236'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-16.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-16.jpg"), itemprop: 'contentUrl', :data => { :size => '500x747'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-18.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-18.jpg"), itemprop: 'contentUrl', :data => { :size => '500x335'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iza-galerie-19.jpg', itemprop: 'thumbnail'), image_path("iza-galerie-19.jpg"), itemprop: 'contentUrl', :data => { :size => '500x339'} %>
          </figure>

      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">II. zahradní slavnost</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-1.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-1.jpg"), itemprop: 'contentUrl', :data => { :size => '500x844'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-2.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-2.jpg"), itemprop: 'contentUrl', :data => { :size => '500x753'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-3.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-3.jpg"), itemprop: 'contentUrl', :data => { :size => '500x332'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-4.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-4.jpg"), itemprop: 'contentUrl', :data => { :size => '500x332'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-5.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-5.jpg"), itemprop: 'contentUrl', :data => { :size => '500x332'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-6.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-6.jpg"), itemprop: 'contentUrl', :data => { :size => '500x332'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-8.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-8.jpg"), itemprop: 'contentUrl', :data => { :size => '500x332'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-9.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-9.jpg"), itemprop: 'contentUrl', :data => { :size => '500x466'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-10.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-10.jpg"), itemprop: 'contentUrl', :data => { :size => '500x753'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-11.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-11.jpg"), itemprop: 'contentUrl', :data => { :size => '500x332'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-13.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-13.jpg"), itemprop: 'contentUrl', :data => { :size => '500x753'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-14.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-14.jpg"), itemprop: 'contentUrl', :data => { :size => '500x333'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-15.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-15.jpg"), itemprop: 'contentUrl', :data => { :size => '500x751'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-16.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-16.jpg"), itemprop: 'contentUrl', :data => { :size => '500x333'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-17.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-17.jpg"), itemprop: 'contentUrl', :data => { :size => '500x685'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-18.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-18.jpg"), itemprop: 'contentUrl', :data => { :size => '500x333'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-19.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-19.jpg"), itemprop: 'contentUrl', :data => { :size => '500x751'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-20.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-20.jpg"), itemprop: 'contentUrl', :data => { :size => '500x751'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiza-galerie-21.jpg', itemprop: 'thumbnail'), image_path("iiza-galerie-21.jpg"), itemprop: 'contentUrl', :data => { :size => '500x334'} %>
          </figure>
        
      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">III. zahradní slavnost</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-250657_4215525550926_1569032419_n.jpg', itemprop: 'thumbnail'), image_path("iiiza-250657_4215525550926_1569032419_n.jpg"), itemprop: 'contentUrl', :data => { :size => '960x720'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-318132_4215513350621_949153133_n.jpg', itemprop: 'thumbnail'), image_path("iiiza-318132_4215513350621_949153133_n.jpg"), itemprop: 'contentUrl', :data => { :size => '960x720'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-382430_4215523550876_182689727_n.jpg', itemprop: 'thumbnail'), image_path("iiiza-382430_4215523550876_182689727_n.jpg"), itemprop: 'contentUrl', :data => { :size => '960x720'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-521333_4215512270594_2119140215_n.jpg', itemprop: 'thumbnail'), image_path("iiiza-521333_4215512270594_2119140215_n.jpg"), itemprop: 'contentUrl', :data => { :size => '960x720'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-522676_4217612363095_2107723874_n.jpg', itemprop: 'thumbnail'), image_path("iiiza-522676_4217612363095_2107723874_n.jpg"), itemprop: 'contentUrl', :data => { :size => '720x960'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-P6160064.jpg', itemprop: 'thumbnail'), image_path("iiiza-P6160064.jpg"), itemprop: 'contentUrl', :data => { :size => '408x306'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-P6160093.jpg', itemprop: 'thumbnail'), image_path("iiiza-P6160093.jpg"), itemprop: 'contentUrl', :data => { :size => '397x298'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-P6160111.jpg', itemprop: 'thumbnail'), image_path("iiiza-P6160111.jpg"), itemprop: 'contentUrl', :data => { :size => '325x434'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-P6160095.jpg', itemprop: 'thumbnail'), image_path("iiiza-P6160095.jpg"), itemprop: 'contentUrl', :data => { :size => '437x327'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-P6160096.jpg', itemprop: 'thumbnail'), image_path("iiiza-P6160096.jpg"), itemprop: 'contentUrl', :data => { :size => '432x324'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('iiiza-P6160099.jpg', itemprop: 'thumbnail'), image_path("iiiza-P6160099.jpg"), itemprop: 'contentUrl', :data => { :size => '343x458'} %>
          </figure>

      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Rekonstrukce kněžiště a oltář</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-IMG_2428.jpg', itemprop: 'thumbnail'), image_path("olt-IMG_2428.jpg"), itemprop: 'contentUrl', :data => { :size => '900x600'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-IMG_2430.jpg', itemprop: 'thumbnail'), image_path("olt-IMG_2430.jpg"), itemprop: 'contentUrl', :data => { :size => '900x600'} %>
          </figure>
         
          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-IMG_2432.jpg', itemprop: 'thumbnail'), image_path("olt-IMG_2432.jpg"), itemprop: 'contentUrl', :data => { :size => '900x600'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-IMG_2433.jpg', itemprop: 'thumbnail'), image_path("olt-IMG_2433.jpg"), itemprop: 'contentUrl', :data => { :size => '900x600'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5170024.jpg', itemprop: 'thumbnail'), image_path("olt-P5170024.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5170025.jpg', itemprop: 'thumbnail'), image_path("olt-P5170025.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5170026.jpg', itemprop: 'thumbnail'), image_path("olt-P5170026.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5180027.jpg', itemprop: 'thumbnail'), image_path("olt-P5180027.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5180028.jpg', itemprop: 'thumbnail'), image_path("olt-P5180028.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5180029.jpg', itemprop: 'thumbnail'), image_path("olt-P5180029.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5180031.jpg', itemprop: 'thumbnail'), image_path("olt-P5180031.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5190032.jpg', itemprop: 'thumbnail'), image_path("olt-P5190032.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5190036.jpg', itemprop: 'thumbnail'), image_path("olt-P5190036.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5190038.jpg', itemprop: 'thumbnail'), image_path("olt-P5190038.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5200040.jpg', itemprop: 'thumbnail'), image_path("olt-P5200040.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5200041.jpg', itemprop: 'thumbnail'), image_path("olt-P5200041.jpg"), itemprop: 'contentUrl', :data => { :size => '908x681'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5200042.jpg', itemprop: 'thumbnail'), image_path("olt-P5200042.jpg"), itemprop: 'contentUrl', :data => { :size => '950x712'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5200046.jpg', itemprop: 'thumbnail'), image_path("olt-P5200046.jpg"), itemprop: 'contentUrl', :data => { :size => '799x600'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5300049.jpg', itemprop: 'thumbnail'), image_path("olt-P5300049.jpg"), itemprop: 'contentUrl', :data => { :size => '1007x756'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P5300050.jpg', itemprop: 'thumbnail'), image_path("olt-P5300050.jpg"), itemprop: 'contentUrl', :data => { :size => '752x1003'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P6160091.jpg', itemprop: 'thumbnail'), image_path("olt-P6160091.jpg"), itemprop: 'contentUrl', :data => { :size => '359x479'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('olt-P6160110.jpg', itemprop: 'thumbnail'), image_path("olt-P6160110.jpg"), itemprop: 'contentUrl', :data => { :size => '756x1008'} %>
          </figure>


      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">70. výročí založení sboru</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('70-DSCN8145.JPG', itemprop: 'thumbnail'), image_path("70-DSCN8145.JPG"), itemprop: 'contentUrl', :data => { :size => '1280x960'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('70-DSCN8160.JPG', itemprop: 'thumbnail'), image_path("70-DSCN8160.JPG"), itemprop: 'contentUrl', :data => { :size => '960x1280'} %>
          </figure>


          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('70-DSCN8163.JPG', itemprop: 'thumbnail'), image_path("70-DSCN8163.JPG"), itemprop: 'contentUrl', :data => { :size => '1280x960'} %>
          </figure>


          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('70-DSCN8175.JPG', itemprop: 'thumbnail'), image_path("70-DSCN8175.JPG"), itemprop: 'contentUrl', :data => { :size => '1280x960'} %>
          </figure>

      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Setkání k výročí vzniku republiky</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('70-DSCN8145.JPG', itemprop: 'thumbnail'), image_path("70-DSCN8145.JPG"), itemprop: 'contentUrl', :data => { :size => '900x596'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0098BW.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0098BW.jpg"), itemprop: 'contentUrl', :data => { :size => '900x596'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0120finale.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0120finale.jpg"), itemprop: 'contentUrl', :data => { :size => '900x596'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0135.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0135.jpg"), itemprop: 'contentUrl', :data => { :size => '596x900'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0144_noide_r.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0144_noide_r.jpg"), itemprop: 'contentUrl', :data => { :size => '900x596'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0162_portreit.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0162_portreit.jpg"), itemprop: 'contentUrl', :data => { :size => '900x1359'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0172_noise_r.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0172_noise_r.jpg"), itemprop: 'contentUrl', :data => { :size => '900x596'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0179noise_r.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0179noise_r.jpg"), itemprop: 'contentUrl', :data => { :size => '900x596'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0184noise_r.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0184noise_r.jpg"), itemprop: 'contentUrl', :data => { :size => '900x596'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0189hdr.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0189hdr.jpg"), itemprop: 'contentUrl', :data => { :size => '900x1359'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('rep-DSC_0192hdr.jpg', itemprop: 'thumbnail'), image_path("rep-DSC_0192hdr.jpg"), itemprop: 'contentUrl', :data => { :size => '900x1359'} %>
          </figure>

      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Advent</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Vánoce</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('van-2017-12-12_08.jpg', itemprop: 'thumbnail'), image_path("van-2017-12-12_08.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('van-2017-12-12_18.jpg', itemprop: 'thumbnail'), image_path("van-2017-12-12_18.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('van-2017-12-12_44.jpg', itemprop: 'thumbnail'), image_path("van-2017-12-12_44.jpg"), itemprop: 'contentUrl', :data => { :size => '675x900'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('van-2017-12-12_50.jpg', itemprop: 'thumbnail'), image_path("van-2017-12-12_50.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('van-2018-12-01_12.jpg', itemprop: 'thumbnail'), image_path("van-2018-12-01_12.jpg"), itemprop: 'contentUrl', :data => { :size => '900x675'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('van-2018-12-01_45.jpg', itemprop: 'thumbnail'), image_path("van-2018-12-01_45.jpg"), itemprop: 'contentUrl', :data => { :size => '675x900'} %>
          </figure>

      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Dušičky</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

        <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('dus-DSC_0358_1.jpg', itemprop: 'thumbnail'), image_path("dus-DSC_0358_1.jpg"), itemprop: 'contentUrl', :data => { :size => '554x367'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('dus-DSC_0380hdr_1.jpg', itemprop: 'thumbnail'), image_path("dus-DSC_0380hdr_1.jpg"), itemprop: 'contentUrl', :data => { :size => '348x526'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('dus-DSC_0385b.jpg', itemprop: 'thumbnail'), image_path("dus-DSC_0385b.jpg"), itemprop: 'contentUrl', :data => { :size => '813x539'} %>
          </figure>

      </div>

      <h2 class="utilities-font-24_20 utilities-mb-15 utilities-mb-25">Narozeniny dr. Kubátové</h2>

      <div class="my-gallery utilities-mb-15 utilities-mb-25" itemscope itemtype="http://schema.org/ImageGallery">

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('kub-P6030051.jpg', itemprop: 'thumbnail'), image_path("kub-P6030051.jpg"), itemprop: 'contentUrl', :data => { :size => '866x649'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('kub-P6030052.jpg', itemprop: 'thumbnail'), image_path("kub-P6030052.jpg"), itemprop: 'contentUrl', :data => { :size => '907x680'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('kub-P6030053.jpg', itemprop: 'thumbnail'), image_path("kub-P6030053.jpg"), itemprop: 'contentUrl', :data => { :size => '860x645'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('kub-P6030054.jpg', itemprop: 'thumbnail'), image_path("kub-P6030054.jpg"), itemprop: 'contentUrl', :data => { :size => '859x644'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('kub-P6030055.jpg', itemprop: 'thumbnail'), image_path("kub-P6030055.jpg"), itemprop: 'contentUrl', :data => { :size => '997x748'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('kub-P6030056.jpg', itemprop: 'thumbnail'), image_path("kub-P6030056.jpg"), itemprop: 'contentUrl', :data => { :size => '760x570'} %>
          </figure>

          <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
            <%= link_to image_tag('kub-P6030057.jpg', itemprop: 'thumbnail'), image_path("kub-P6030057.jpg"), itemprop: 'contentUrl', :data => { :size => '711x533'} %>
          </figure>

      </div>


      <!-- Root element of PhotoSwipe. Must have class pswp. -->
      <div class="pswp" tabindex="-1" role="dialog" aria-hidden="true">

          <!-- Background of PhotoSwipe. 
               It's a separate element, as animating opacity is faster than rgba(). -->
          <div class="pswp__bg"></div>

          <!-- Slides wrapper with overflow:hidden. -->
          <div class="pswp__scroll-wrap">

              <!-- Container that holds slides. PhotoSwipe keeps only 3 slides in DOM to save memory. -->
              <!-- don't modify these 3 pswp__item elements, data is added later on. -->
              <div class="pswp__container">
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
                  <div class="pswp__item"></div>
              </div>

              <!-- Default (PhotoSwipeUI_Default) interface on top of sliding area. Can be changed. -->
              <div class="pswp__ui pswp__ui--hidden">

                  <div class="pswp__top-bar">

                      <!--  Controls are self-explanatory. Order can be changed. -->

                      <div class="pswp__counter"></div>

                      <button class="pswp__button pswp__button--close" title="Close (Esc)"></button>

                      <button class="pswp__button pswp__button--share" title="Share"></button>

                      <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button>

                      <button class="pswp__button pswp__button--zoom" title="Zoom in/out"></button>

                      <!-- Preloader demo https://codepen.io/dimsemenov/pen/yyBWoR -->
                      <!-- element will get class pswp__preloader--active when preloader is running -->
                      <div class="pswp__preloader">
                          <div class="pswp__preloader__icn">
                              <div class="pswp__preloader__cut">
                                  <div class="pswp__preloader__donut"></div>
                              </div>
                          </div>
                      </div>
                  </div>

                  <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                      <div class="pswp__share-tooltip"></div>
                  </div>

                  <button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)">
                  </button>

                  <button class="pswp__button pswp__button--arrow--right" title="Next (arrow right)">
                  </button>

                  <div class="pswp__caption">
                      <div class="pswp__caption__center"></div>
                  </div>

              </div>

          </div>

      </div>
    </div>

  </main>
</div>

<script>
(function()
{
  if( window.localStorage )
  {
    if( !localStorage.getItem('firstLoad') )
    {
      localStorage['firstLoad'] = true;
      window.location.reload();
    }  
    else
      localStorage.removeItem('firstLoad');
  }
})();
</script>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe-ui-default.min.js'></script>

    <script src="js/index.js"></script>