<!DOCTYPE html>
<html lang="cs" dir="ltr" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <!-- Basic Page Needs  ================================================== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,Chrome=1">

    <!-- Mobile Specific Metas  ================================================== -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title and meta description  ================================================== -->    
    <title>CČSH - Náboženská obec Praha-Spořilov</title>
    <meta property="og:title" content="CČSH - Náboženská obec Praha-Spořilov">

    <meta name="description" content="Husův sbor na Spořilově. Už od roku 1938 pomáháme spirituální a pastorační péčí.">
    <meta property="og:description" content="Husův sbor na Spořilově. Už od roku 1938 pomáháme spirituální a pastorační péčí.">

    <link rel="canonical" href="">
    <meta property="og:url" content="">

    <meta name="google-site-verification" content="ZP8ccFUFIC9O9ihd5yK2z6Q-0-Cy_6SGMZ06SsoYp7A" />

    <!-- Favicons    ================================================== -->
    <!-- 128x128 -->
    <link href="<%= image_path("favicon.ico") %>" rel="shortcut icon" />
    <link href="<%= image_path("favicon.png") %>" rel="icon" type="image/png" />

    <!-- 192x192, as recommended for Android
    http://updates.html5rocks.com/2014/11/Support-for-theme-color-in-Chrome-39-for-Android
    -->
    <link href="<%= image_path("favicon-192.png") %>" rel="icon" type="image/png" sizes="192x192" />

    <!-- 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices -->
    <!-- <link rel="apple-touch-icon-precomposed" href="/assets/images/favicons/favicon-57.png"> -->
    <!-- 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/images/favicons/favicon-72.png"> -->
    <!-- 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/images/favicons/favicon-114.png"> -->
    <!-- 144x144 (precomposed) for iPad 3rd and 4th generation -->
    <!-- <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/images/favicons/favicon-144.png"> -->

    <!-- CSS and scripts =================================================  -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload', :defer => "defer" %>

    <script src="http://hesla.dulos.cz/js/losung-cs2020v0.02.js" type="text/javascript"></script>
    <!-- Loads the site's main script -->
    <%= javascript_include_tag('index.js') %>
    <!-- Loads analytics.js asynchronously -->
    <script async src="https://www.google-analytics.com/analytics.js"></script>

    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/photoswipe.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/photoswipe/4.1.1/default-skin/default-skin.min.css'>
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700&amp;subset=latin-ext"> 

    <!-- Prevent cross-site scripting =================================================  -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta property="og:type" content="website">
    <meta property="og:locale" content="cs_CZ">
    <meta property="og:street-address" content="Jihovýchodní VII. 945/2" />
    <meta property="og:locality" content="Praha-Spořilov" />
    <meta property="og:logo" content="" size="307x59">

    <!--[if IE 9]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie9.min.css" rel="stylesheet">
    <![endif]-->
    <!--[if lte IE 8]>
      <link href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-ie8/css/bootstrap-ie8.min.css" rel="stylesheet">
      <script src="https://cdn.jsdelivr.net/g/html5shiv@3.7.3"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
  </head>

  <body vocab="http://schema.org/" typeof="WebPage" class="">
    <%= render "shared/skippy" %>
    <%= render "shared/global-header" %>

    <div id="flash">
      <% if notice.present? %>
        <%= render partial: "shared/message" %>
      <% end %>
    </div>

    <%= yield %>

    <%= render "shared/footer" %>
  </body>
</html>
